body{
  font-family: sans-serif;
  background-color: #f8f8ff;
   margin: 0;
}

header{
  text-align: left;
  padding-left: 10px;
  color: black;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}

a{
  color: black;
  font-size: 14pt;
  text-decoration: none;
  margin-left:4px;
  margin-right: 4px;

}
a:hover{
  text-decoration: underline;
}

h1{
  margin: 5px;
  margin-right: 20px;
  font-size: 20pt;
  display: inline;
}

h3{
  font-size: 26pt;
  text-align: center;
}

h4{
  font-size: 22pt;
  text-align: center;
}

p{
  text-align: center;
  font-size: 18pt;
}

.inputblock{
  display:flex;
  flex-direction: column;
}

.inputrow{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

button{
  margin: 3px;
  margin-bottom: 10px;
}

input{
  display: inline-block;
}

label{
  display: inline-block;
}

#content{
  position: relative;
  min-height: 99vh;
  margin: -0;
  padding: 0;
  justify-content: center;
}

#spacing{
  padding-bottom: 1rem;
}

table{
  text-align: left;
  min-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;;
}

td, th{
  border: solid 1px #cccccc;
  padding: 7px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2{
  text-align: center;
  font-size: 26pt;
}

footer{
 height: 1.0rem;
 color: rgb(100,100,100);
 position: absolute;
 bottom: 0;
 text-align: center;
 width: 100%
}
