<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/43d9f158ac.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title> Appartment Management Helper </title>
  <link rel="stylesheet" href="..\static\style.css" />
</head>
<body>
  <div id="content">
    <div id="spacing">
      <header>
        <nav>
          <h1>Appartment Management Solutions</h1>
          <a class="link" href="/">
            Home
          </a>
          <a class="link" href="/buildings">
            Buildings
          </a>
          <a class="link" href="/unittypes">
            Types of Units
          </a>
          <a class="link" href="/units">
            Units
          </a>
          <a class="link" href="/tenants">
            Tenants
          </a>
          <a class="link" href="/rentedunits">
            Rented Units
          </a>
          <a class="link" href="/maintenance">
            Maintenance
          </a>
          <a class="link" href="/payments">
            Payments
          </a>
        </nav>
      </header>
      {% block content %}
      {% endblock %}
      <footer>
        Ian Wyse - Nicola Sisca - 2022
      </footer>
    </div>
  </div>
</body>
