{% extends 'editbase.html'%}
  {% block content %}
    <h2> Edit Building </h2>
    <table id=datatable>
      <thead>
        <th>Building ID</th>
        <th>Building Name</th>
        <th>YTDBuilding Revenue</th>
      </thead>
      <tbody>
        <tr id=editrow>
          <td></td>
          <td contenteditable="true"></td>
          <td class="inputcell"> <input type="number" class="input" step=".01" min="0" /> </td>
        </tr>
      </tbody>
    </table>
    <button onclick="makeRow()"> Submit </button>
  {% endblock %}
  {% block script %}
    let current = {{current | safe}}
    const tablename = "buildings"
    init()
  {% endblock %}
