{% extends 'tablebase.html'%}
  {% block content %}
    <h2> Buildings </h2>
    <table id=datatable>
      <thead>
        <th>BuildingID</th>
        <th>Building Name</th>
        <th>YTD Building Revenue</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
    </table>
    <button onclick="location.href='./buildings/new'"> New Row </button>
  {% endblock %}
  {% block script %}
      const tablename = "buildings"
      let input_data = {{table | safe}}
      makeTable(input_data)
  {% endblock %}
