{% extends 'newbase.html'%}
  {% block content %}
    <h2> Add Maintenance Request </h2>
    <table id=datatable>
      <thead>
        <th>UnitID</th>
        <th>TenantID</th>
        <th>RequestDate</th>
        <th>Completed</th>
        <th>RequestNote</th>
      </thead>
      <tbody>
        <tr id="newrow">
          <td class="inputcell"> <select name="units" class="input" id="units" /> </td>
          <td class="inputcell"> <select name="tenants" class="input" id="tenants" /> </td>
          <td class="inputcell"> <input type="date" class="input"/> </td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
        </tr>
      </tbody>
    </table>
    <button onclick="addRow()"> Add Row </button>
  {% endblock %}
  {% block script %}
    let tenantIds = {{tenants | safe}}
    let unitIds = {{units | safe}}
    const tablename = "maintenance"
    makeDropdown(unitIds, "units", 0)
    makeDropdown(tenantIds, "tenants", 1)
  {% endblock %}
