{% extends 'newbase.html'%}
  {% block content %}
    <h2> Add New Rented Unit </h2>
    <table id=datatable>
      <thead>
        <th>UnitID</th>
        <th>TenantID</th>
        <th>StartDate</th>
      </thead>
      <tbody>
        <tr id="newrow">
          <td class="dropcell"> <select name="units" class="dropdown" id="units" /> </td>
          <td class="dropcell"> <select name="tenants" class="dropdown" id="tenants" /> </td>
          <td class="datecell"> <input type="date" id="start" class="datepicker"/> </td>
        </tr>
      </tbody>
    </table>
    <button onclick="addRow()"> Add Row </button>
  {% endblock %}
  {% block script %}
    const tablename = "rentedunits"
    makeDropdown(unitIds, "units")
    makeDropdown(tenantIds, "tenants")
  {% endblock %}
