{% extends 'base.html'%}
  {% block content %}
    <h2> Rented Units </h2>
    <table id=datatable>
      <thead>
        <th>RentalID</th>
        <th>UnitID</th>
        <th>TenantID</th>
        <th>StartDate</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
    </table>
    <button> New Row </button>
    <script>
        function makeTable() {
          let data = {{table | safe}}
          const dataTable = document.getElementById("datatable");
          for (let row in data){
            let tableRow = document.createElement("tr");
            for (let cell in data[row]){
              let tableCell = document.createElement("td");
              tableCell.innerText = data[row][cell]
              tableRow.appendChild(tableCell)
            }
            let editCell = document.createElement("td")
            editCell.innerHTML = "<i class='fa-solid fa-file-pen'></i>"
            editCell.addEventListener("click", editRow)
            tableRow.appendChild(editCell)
            let deleteCell = document.createElement("td");
            deleteCell.innerHTML = "<i class='fa-solid fa-trash'></i>"
            deleteCell.addEventListener("click", deleteRow)
            tableRow.appendChild(deleteCell)
            dataTable.appendChild(tableRow)
          }
        }

        function deleteRow(){
          console.log("not yet implemented")
        }

        function editRow(){
          console.log("not yet implemented")
        }

        makeTable()
    </script>
  {% endblock %}
