{% extends 'base.html'%}
  {% block content %}
    <h2> Tenants </h2>
    <table id=datatable>
      <thead>
        <th>TenantID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>PhoneNumber</th>
        <th>Balance</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
    </table>
    <button> New Row </button>
    <script>

        let input_data = {{table | safe}}

        function makeTable(data) {
          const dataTable = document.getElementById("datatable");
          let tableBody = document.createElement("tbody")
          tableBody.setAttribute("id","tablebody")
          dataTable.appendChild(tableBody)
          for (let row in data){
            let tableRow = document.createElement("tr");
            for (let cell in data[row]){
              let tableCell = document.createElement("td");
              tableCell.innerText = data[row][cell]
              tableRow.appendChild(tableCell)
            }
            let editCell = document.createElement("td")
            editCell.innerHTML = "<i class='fa-solid fa-file-pen'></i>"
            editCell.addEventListener("click", editRow)
            tableRow.appendChild(editCell)
            let deleteCell = document.createElement("td");
            deleteCell.innerHTML = "<i class='fa-solid fa-trash' onclick='deleteRow(event)'></i>"
            tableRow.appendChild(deleteCell)
            tableBody.appendChild(tableRow)
          }
        }

        async function deleteRow(event){
          let row = event.target.parentElement.parentElement
          let table = event.target.parentElement.parentElement.parentElement.parentElement
          let id = row.cells[0].innerText
          let id_name = table.rows[0].cells[0].innerText
          const response = await fetch(`tenants/delete/${id_name}/${id}`, {method:"GET"})
          const resp = response.json()
          .then(resp => {
            to_delete = document.getElementById("tablebody").remove()
            makeTable(resp)
          })
        }

        function editRow(){
          console.log("not yet implemented")
        }

        makeTable(input_data)
    </script>
  {% endblock %}
