{% extends 'newbase.html'%}
  {% block content %}
    <h2> Add Private Tenant Information </h2>
    <table id=datatable>
      <thead>
        <th>TenantID</th>
        <th>Social Security Number</th>
        <th>Credit Card Number</th>
      </thead>
      <tbody>
        <tr id="newrow">
          <td class="inputcell"> <select name="tenants" class="input" id="tenants" /> </td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
        </tr>
      </tbody>
    </table>
    <button onclick="addRow()"> Add Row </button>
  {% endblock %}
  {% block script %}
    let tenantIds = {{tenants | safe}}
    const tablename = "tenants"
    makeDropdown(tenantIds, "tenants")
  {% endblock %}
