{% extends 'base.html'%}
  {% block content %}
    <h2> Add Private Tenant Information </h2>
    <table id=datatable>
      <thead>
        <th>TenantID</th>
        <th>SSN</th>
        <th>CCN</th>
      </thead>
      <tbody>
        <tr>
          <td class="dropcell"> <select name="tenants" class="dropdown" id="tenants" /> </td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
        </tr>
      </tbody>
    </table>
    <button> Add Row </button>
    <script>
      let tenantIds = {{tenants | safe}}

      function makeDropdown(list, id){
        dropdown = document.getElementById(id)
        for (let row of list) {
          let text = ""
          for (let cell of row) {
            text = text + cell + " "
          }
          drop = document.createElement("option")
          drop.setAttribute("value", row[0])
          drop.innerText = text
          dropdown.appendChild(drop)
        }
      }

      makeDropdown(tenantIds, "tenants")
    </script>
  {% endblock %}
