{% extends 'tablebase.html'%}
  {% block content %}
    <h2> Units </h2>
    <table id=datatable>
      <thead>
        <th>UnitID</th>
        <th>Unit Number</th>
        <th>Price</th>
        <th>Note</th>
        <th>Building</th>
        <th>Unit Type</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
    </table>
    <button onclick="location.href='./units/new'"> New Row </button>
  {% endblock %}
  {% block script %}
    tablename = "units"
    let input_data = {{table | safe}}
    makeTable(input_data)
  {% endblock %}
