{% extends 'editbase.html'%}
  {% block content %}
    <h2> Edit Unit Information </h2>
    <table id=datatable>
      <thead>
        <th>UnitID</th>
        <th>Unit Number</th>
        <th>Price</th>
        <th>Rented</th>
        <th>Note</th>
        <th>BuildingID</th>
        <th>UnitTypeID</th>
      </thead>
      <tbody>
        <tr id="editrow">
          <td></td>
          <td contenteditable="true"></td>
          <td class="inputcell"> <input type="number" class="input" step=".01" min="0" /> </td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td class="inputcell"> <select name="buildings" class="input" id="buildings" /> </td>
          <td class="inputcell"> <select name="buildings" class="input" id="types" /> </td>
        </tr>
      </tbody>
    </table>
    <button onclick="makeRow()"> Submit </button>
  {% endblock %}
  {% block script %}
    let buildingIds = {{buildings | safe}}
    let typesIds = {{types | safe}}
    let current = {{current | safe}}
    const tablename = "units"
    makeDropdown(buildingIds, "buildings")
    makeDropdown(typesIds, "types")
    init()
  {% endblock %}
