{% extends 'newbase.html'%}
  {% block content %}
    <h2> Add New Unit </h2>
    <table id=datatable>
      <thead>
        <th>Unit Number</th>
        <th>Price</th>
        <th>Rented</th>
        <th>Note</th>
        <th>BuildingID</th>
        <th>UnitTypeID</th>
      </thead>
      <tbody>
        <tr id="newrow">
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td contenteditable="true"></td>
          <td class="dropcell"> <select name="buildings" class="dropdown" id="buildings" /> </td>
          <td class="dropcell"> <select name="buildings" class="dropdown" id="types" /> </td>
        </tr>
      </tbody>
    </table>
    <button onclick="addRow()"> Add Row </button>
  {% endblock %}
  {% block script %}
    let buildingIds = {{buildings | safe}}
    let typesIds = {{types | safe}}
    const tablename = "units"
    makeDropdown(buildingIds, "buildings")
    makeDropdown(typesIds, "types")
  {% endblock %}
