{% extends 'base.html'%}
  {% block content %}
    <h2> Edit Unit Type </h2>
    <table id=datatable>
      <thead>
        <th>Type</th>
      </thead>
      <tbody>
        <tr id="editrow">
          <td contenteditable="true"></td>
        </tr>
      </tbody>
    </table>
    <button> Submit </button>
    <script>
      let current = {{current | safe}}

      function init(){
        const edit_row = document.getElementById("editrow")
        let i = 1
        for (let cell of edit_row.cells) {
          if (cell.className !== "dropcell"){
            cell.innerText = current[i]
          }
          else {
            document.getElementById("tenants").value = current[i]
          }
          i += 1
        }
      }

      init()
    </script>
  {% endblock %}
